.table-container{
width:90%;
margin:auto;
margin-top:30px;
text-align:center;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#1976d2;
color:white;
padding:10px;
}

td{
padding:10px;
background:#f9f9f9;
}

tr:nth-child(even){
background:#eeeeee;
}

tr:hover{
background:#d1ecff;
}
